# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Auto_Clockin_GitHub_Action

on:
    workflow_dispatch:
    push:
    schedule:
        # 07:05 everyday in UTC+8, 23:05 everyday in UTC+0
    - cron: '05 23 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Start Clocking in
      env:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          ocr_ids:  ${{ secrets.OCR_IDS}}
      run: |
        python clock_in.py --username=$username --password=$password --ocr_ids=$ocr_ids
