# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Auto_Clockin_GitHub_Action

on:
    workflow_dispatch:
    push:
    schedule:
    - cron: '10 22 * * *'
      # 06:10 everyday in UTC+8, 22:10 everyday in UTC+0

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Start Clocking in
      env:
          username:   ${{ secrets.USERNAME }}
          password:   ${{ secrets.PASSWORD }}
          province:   ${{ secrets.PROVINCE }}
          city:       ${{ secrets.CITY }}
          county:     ${{ secrets.COUNTY }}
          app_id:     ${{ secrets.APP_ID }}
          api_key:    ${{ secrets.API_KEY }}
          secret_key: ${{ secrets.SECRET_KEY }}
      run: |
        python clock_in.py --username=$username --password=$password --province=$province --city=$city --county=$county --app_id=$app_id --api_key=$api_key --secret_key=$secret_key
